.main-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.first{
  display: flex;
  flex-direction: column;
  background-color: #ded1e3 ;
  height: 700px;
}
.photo-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.photo-text-container{
  display: flex;
  flex-direction: column;
  width: 550px;
  justify-content: center;
  align-items: center;

}
.photo-text{
  display: flex;
  height: 100px;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  color:  #252226;
  text-align: center;
}
.about-me{
  color: dimgray;
  text-align: center;
}
.myphoto{
  width: 550px;
  height: 550px;
}
.menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: #252226;
  margin-top: 0;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.menu > li{
  margin-left: 2%;
  margin-right: 2%;

}
.menu > li > a {
  color: white;
  opacity: 0.9;
}
.second{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #252226;
  height: 500px;
  align-items: flex-start;
}
.react-logo{
  width: 500px;
  height:500px;
  opacity: 0.8;
  margin-left: 10%;
}
.third{
  background-color: #f0ecf2;
  height: 600px;
}
.fouth{
  background-color: #252226;
  height: 500px;
}