.fouth{
    background-color: #252226;
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.plane{
    width: 400px;
    height: 400px;
    opacity: 0.7;
}
.education-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35%;
}
.education-info > p {
    color: white;
    opacity: 0.8;
    font-size: 16px;
}
.education-info > h1 {
    color: white;
    opacity: 0.8;
    align-self: center;
    margin-top: 0;
}